body {
    background-color: rgba(100, 1, 1, 1);
    color: black;
    font-family: "UnifrakturMaguntia", cursive;
margin: 0px;

}

header{
    font-size: 50px;
    text-align: center;
    border-bottom:dashed 5px rgb(0, 0, 0);
padding: 30px;
color: rgb(255, 255, 255);
}

h1{
    font-size: 30px;
    padding-left: 30px;
}

p{
    font-size: 30px;
    padding-left: 30px;
}

img {
     width: 300px;
     height: 200px;
}

  .categoria-videos{
        display: flex;
        overflow-x: auto;
        gap: 10px;
        padding-left: 20px;
  }

  h2{
padding-left: 30px;
  }

  body{
    padding-bottom: 40px;
  }
  
.chamada{
    background-color: black;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}